<div class="row">
    <div class="col-sm-4 pb-3">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"> {{ regionTitle }} </h2>
                <div class="card-text">
                    <ng-container *ngFor="let regionGroup of countryRegionGroup" >
                        <div class="py-1"> 
                            <span class="font-weight-bold"> • </span>
                            <span class="font-weight-bold clickable" (click)="onSearch(regionGroup.region , 'region')">{{regionGroup.region}}</span>  
                            <span>{{ ' ( ' + regionGroup.amount + ' Countries )' }}</span>
                        </div>
                    </ng-container>

                    <hr>

                    <div><h2> {{ searchTitle }}</h2></div>
                    <div>
                        <input class="form-control" [placeholder]="searchPlaceholder" list="datalistOptions" #searchInputRef required >
                        <datalist id="datalistOptions">
                            <option [value]="country" *ngFor="let country of countryList">
                        </datalist>
                    </div>
                    <div class="d-flex justify-content-end py-2"><button type="button" class="btn btn-primary btn-sm"
                        (click)="onSearch(searchInputRef.value , 'name')"> Search </button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title"> {{ populationTitle }} </h1>
                <div class="card-text pb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th *ngFor="let header of columnTop10Table">
                                    <span>{{ header.name }} </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let country of top10PopulationList ; let index = index">
                                <td *ngFor="let content of columnTop10Table">
                                    <ng-container [ngSwitch]="content.type">
                                        <ng-container *ngSwitchCase="'string'">
                                            {{ country[content.code] }}
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'number'">
                                            {{ country[content.code] | number }}
                                        </ng-container>
                                        <ng-container *ngSwitchCase="'index'">
                                            <span>{{ index + 1 }}</span>
                                            <img [src]="getImagePath(index)" class="medal"
                                                *ngIf="checkImageIndex(index)">
                                        </ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-primary btn-md" routerLink="/information" >Learn more</a>
            </div>
        </div>
    </div>
</div>
